:root {
  --main-bg-button: #ff5757;
  --main-text: #ff914d;
  --main-text-h2: #ff5757;
  --second-text: #57d8ff;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

/* navbar */
.navbar {
  padding: 0.5rem;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 7%);
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

/* General Styles */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

p {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
}

a {
  color: #ff914d;
  text-decoration: underline;
}

.btn-info {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  color: #f5f6f7;
  background-color: var(--main-bg-button);
  border: none;
  display: inline-block;
  margin-bottom: 40px;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
  transition: transform 0.3s;
  padding: 0.5rem 3rem;
}

.dark-section {
  background-color: #1b1c1e;
  color: #f5f6f7;
}

.gray-bg {
  color: #1b1c1e;
  background-color: #fafafa;
}

.light-bg {
  color: #1b1c1e;
  background-color: #ffffff;
}

.black-text {
  color: black;
}

.white-text {
  color: white;
}

.title-section {
  font-size: 2.5rem;
  padding: 15px 0;
}

.title-section-footer {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 15px 0;
  font-weight: 600;
}

.description-section {
  font-size: 1.2rem;
  color: #585454;
}
.text-section {
  color: #585454;
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  height: auto;
}

.spacer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  border: 1px solid #e9e9e9;
}

/* Section Hero */

.hero {
  /*background-color: #f5f6f7;*/
  min-height: 450px;
  text-align: center;
}

.hero-principal {
  padding: 3rem;
}

.hero-image-developer {
  width: 200px;
  height: 200px;
  margin: 0 0 20px;
}

.hero-principal h2 {
  font-size: 1rem;
}

.hero-inferior {
  /* background-color: #f5f6f7; */
  width: 60%;
  height: auto;
}

.hero-subtitle h2 {
  color: #1b1c1e;
  font-weight: 400;
  margin: 10px;
}

/* About me section */
.about-me {
  padding: 40px;
}

.about-me .contenedor {
  max-width: 700px;
  text-align: center;
}

/* Experience */

.experience {
  padding: 40px 40px 60px 40px;
}

.experience .column {
  padding: 20px;
  border: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.experience .column:hover {
  color: white;
  background-color: #1b1f22;
}

.title-experience {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.badges-contenedor {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.badge {
  margin: 5px;
}

.experience i {
  font-size: 2.2rem;
  color: #f5f6f7;
  padding: 8px 19px;
  background-color: #ff914d;
  border-radius: 50%;
}

/* Card imagen-texto */

.album {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card-body {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  padding: 1rem;
}

.icons-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.icons-media i {
  font-size: 1.8rem;
  color: #404040;
  padding: 12px 10px;
}

.card-text {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.lenguajes {
  text-align: center;
}

.link-group {
  font-size: 30px;
}

/* Projects */
.recent-projects {
  padding: 40px;
}

.recent-projects img {
  width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.project-container {
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.2s;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.proyects {
  position: relative;
}
.proyects:hover img {
  opacity: 0.2;
}
.proyects:hover .overlay {
  opacity: 1;
}

.overlay .icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.overlay i {
  color: #1b1c1e;
  font-size: 50px;
  margin: 10px;
}

/* Education */
.education {
  min-height: 500px;
  padding: 10px;
}

.education .card {
  width: 80%;
  max-width: 600px;
  margin: 20px;
}

.card-header {
  font-weight: bold;
}

/* contacto */
.contact .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contact .rectangulo {
  margin-top: -3rem;
  background-image: radial-gradient(
    circle 860px at 11.8% 33.5%,
    rgba(240, 30, 92, 1) 0%,
    rgba(244, 49, 74, 1) 30.5%,
    rgba(249, 75, 37, 1) 56.1%,
    rgba(250, 88, 19, 1) 75.6%,
    rgba(253, 102, 2, 1) 100.2%
  );
  border-radius: 20px;
  box-shadow: 0 1px 4px 1px white;
}

.row {
  width: 100%;
  display: flex;
  align-content: center;
}

.contact .description {
  color: white;
  font-size: 10px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 0.75em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contact button i {
  color: white;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.contact button:hover {
  background-color: white;
  color: #1b1c1e;
}

.contact button:hover i {
  color: #1b1c1e;
}

/* Footer */

.footer {
  min-height: 500px;
}

.footer-logo {
  height: 40px;
  width: 40px;
  margin: 10px;
}

.footer-text {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 25px;
  margin-bottom: 30px;
  font-family: "Quicksand", sans-serif;
}

.social-icons a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: 0.2s ease-in;
}
/* Responsive */

@media (min-width: 768px) {
  .section.porfolio {
    min-height: 100vh;
  }
}

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }
  .overlay i {
    font-size: 30px;
  }
}
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .hero-inferior-imagen {
    max-width: 600px;
  }
  .title-section {
    margin-top: 50px;
  }
}

/* navbar-toggler-icon menu responsivo*/
