:root {
  --main-bg-button: #ff5757;
  --main-text: #ff914d;
  --main-text-h2: #ff5757;
  --second-text: #57d8ff;
}

/* navbar */
.navbar {
  padding: 2rem;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

/* General Styles */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  font-family: "Roboto Mono", monospace;
}

h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

p {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

a {
  color: #ff914d;
  text-decoration: underline;
}

.btn-info {
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto Mono", monospace;
  color: #f5f6f7;
  background-color: var(--main-bg-button);
  border: none;
  margin-bottom: 40px;
}

.dark-section {
  background-color: #1b1c1e;
  color: #f5f6f7;
}

.gray-bg {
  color: #1b1c1e;
  background-color: #fafafa;
}

.light-bg {
  color: #1b1c1e;
  background-color: #ffffff;
}

.black-text {
  color: black;
}

.white-text {
  color: white;
}

.title-section {
  font-size: 2.5rem;
  padding: 15px 0;
}

.description-section {
  font-size: 1.2rem;
  color: #585454;
}
.text-section {
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  height: auto;
}

/* Section Hero */

.hero {
  /*background-color: #f5f6f7;*/
  min-height: 450px;
  text-align: center;
}

.hero-principal {
  padding: 3rem;
}

.hero-image-developer {
  width: 200px;
  height: 200px;
  margin: 20px;
}

.hero-principal h2 {
  font-size: 1.5rem;
  color: var(--main-text-h2);
}

.hero-inferior {
  /* background-color: #f5f6f7; */
  width: 60%;
  height: auto;
}

.hero-subtitle h2 {
  color: #ff5757;
}

/* About me section */
.about-me {
  padding: 50px;
}

.about-me .contenedor {
  max-width: 900px;
  text-align: center;
}

/* Experience */

.experience {
  padding: 40px 40px 60px 40px;
}

.experience .column {
  padding: 20px;
  border: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.experience .column:hover {
  color: white;
  background-color: #1b1f22;
}

.title-experience {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.badges-contenedor {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.badge {
  margin: 5px;
}

.experience i {
  font-size: 2.5rem;
  color: #f5f6f7;
  padding: 8px 19px;
  background-color: #ff914d;
  border-radius: 50%;
}

/* Proyects */
.recent-proyects {
  padding: 40px;
}

.recent-proyects img {
  width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.proyect-container {
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.2s;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.proyects {
  position: relative;
}
.proyects:hover img {
  opacity: 0.2;
}
.proyects:hover .overlay {
  opacity: 1;
}

.overlay .icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.overlay i {
  color: #1b1c1e;
  font-size: 50px;
  margin: 10px;
}

/* Education */
.education {
  min-height: 500px;
  padding: 30px;
}

.education .card {
  width: 80%;
  max-width: 600px;
  margin: 20px;
}

.card-header {
  font-weight: bold;
}

/* Testimonios */

.testimonios {
  padding: 40px 40px 80px 40px;
}
.testimonios .carousel {
  max-width: 800px;
}

.carousel-item {
  height: 500px;
}

.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonio-imagen {
  height: 150px;
  width: 150px;
  margin: 10px 10px 20px 10px;
}

.testimonio-text {
  max-width: 70%;
  font-size: 20px;
  text-align: center;
  font-size: "Roboto Mono", monospace;
}

.testimonio-info {
  font-weight: bold;
  text-align: center;
}

.testimonio-footer .cliente {
  font-size: 1.2rem;
}

.testimonio-info .cargo {
  font-size: 0.9rem;
  color: #656060;
}

/* Responsive */

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }
  .overlay i {
    font-size: 30px;
  }
}
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .hero-inferior-imagen {
    max-width: 600px;
  }
  .title-section {
    margin-top: 100px;
  }
}

/* navbar-toggler-icon menu responsivo*/
